<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>621319125889-ak38jl9kkr8867a1nflt7spidlcrepf2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.621319125889-ak38jl9kkr8867a1nflt7spidlcrepf2</string>
	<key>API_KEY</key>
	<string>AIzaSyCkwrlddpyJlp5JXluDQhXQ2_e5YgC6d8Q</string>
	<key>GCM_SENDER_ID</key>
	<string>621319125889</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ameypandit.bookosphere</string>
	<key>PROJECT_ID</key>
	<string>bookosphereapp</string>
	<key>STORAGE_BUCKET</key>
	<string>bookosphereapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:621319125889:ios:7d37c0dd22bec768b88680</string>
</dict>
</plist>